h1 {
background-color: #ffccd4;
}

body {
      margin: 0;
    padding: 0;
background-color: #ffccd4;
}

.100 {
position: absolute;
    right: 0;
    width: 500;
    border: 2px solid;
    padding: 10;
}
